.about {
	padding: 50px 20px;
	background-color: #f2f2f2;
	text-align: center;
  }
  
  .about h2 {
	font-size: 2.5rem;
	color: #333;
	margin-bottom: 20px;
  }
  
  .about p {
	font-size: 1.2rem;
	max-width: 800px;
	margin: 0 auto;
	line-height: 1.8;
	color: #333;
  }
  