.hero {
	position: relative;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	animation: zoom 20s ease-in-out infinite;
	transition: background-image 1.5s ease-in-out;
  }
  
  .hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .hero h2 {
	font-size: 3rem;
	margin-bottom: 20px;
  }
  
  .hero p {
	font-size: 1.5rem;
	margin-bottom: 30px;
  }
  
  .cta-button {
	background-color: #1f95c8;
	color: white;
	border: none;
	padding: 12px 30px;
	font-size: 1.2rem;
	font-family: 'Georgia', serif;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
	text-decoration: none; 
	display: inline-block;
	text-shadow: none; 
  }
  
  .cta-button:hover {
	background-color: #146b8a; 
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-3px);
  }
  
  .cta-button:active {
	transform: translateY(2px); 
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }  

  @keyframes zoom {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
  }
  