.login-appbar {
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 1000;
  }
  
  .login-logo {
	height: 50px;
	width: auto;
  }
  
  .login-content {
	text-align: center;
	padding: 50px 20px;
	background-color: #f9f9f9;
	color: #333;
  }
  
  h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
  }
  
  .login-box {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background: white;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
	display: block;
	margin: 10px 0 5px;
  }
  
  input {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
  }
  
  .login-button {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	font-weight: bold;
	background-color: #1f95c8;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .login-button:hover {
	background-color: #146b8a;
  }
  