.mypage {
	background-color: #f2f2f2;
	min-height: 100vh;
	padding: 20px;
	text-align: center;
  }
  
  .mypage h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: #1f95c8;
  }
  
  .reservations {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
  }
  
  .reservation-card {
	background: white;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	width: 300px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	transition: transform 0.3s ease, box-shadow 0.3s ease, max-height 0.3s ease;
	overflow: hidden;
	cursor: pointer;
	max-height: 400px;
  }
  
  .reservation-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	border-color: #1f95c8;
  }
  
  .reservation-card.expanded {
	max-height: 450px; /* Adjusted height for the expanded card */
	transform: translateY(-10px); /* Add a bit of lift for the expanded card */
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow for emphasis */
  }
  
  .reservation-image {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
  }
  
  .reservation-details {
	padding-top: 10px;
  }
  
  .reservation-details h2 {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 10px;
  }
  
  .reservation-details p {
	font-size: 1rem;
	color: #555;
	margin-bottom: 5px;
  }
  
  .expanded-details {
	opacity: 0;
	transition: opacity 0.3s ease;
	padding-top: 10px;
	display: none;
  }
  
  .expanded-details.show {
	opacity: 1;
	display: block;
  }
  
  .expanded-details p {
	font-size: 1rem;
	color: #333;
	margin-bottom: 10px;
  }
  
  .cancel-button {
	background-color: #e74c3c;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
	background-color: #c0392b;
  }
  
  .no-reservations {
	text-align: center;
	margin: 40px auto;
	padding: 20px;
	color: #1f95c8;
	font-size: 1.2rem;
	font-weight: bold;
  }
  
  .no-reservations p {
	margin-bottom: 20px;
  }
  
  .book-now-button {
	background-color: #1f95c8;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .book-now-button:hover {
	background-color: #146b8a;
  }
  
  .book-now-button:active {
	background-color: #0d4c66;
  }
  