.rooms {
	padding: 50px 20px;
	background-color: #ffffff;
  }
  
  .rooms h2 {
	font-size: 2.5rem;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
  }
  
  .room-cards {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
  }
  
  .card {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	width: 300px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
  }
  
  .card:hover {
	transform: translateY(-5px);
	transition: transform 0.3s;
	border-color: #1f95c8;
  }
  